<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/score.css" >
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Goblin+One&family=Luckiest+Guy&family=Righteous&family=Sintony:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <div class="title">
            <img src="images/logo.jpg">
            <p><strong>FastCards</strong></p>
        </div>
        <div class="logout">
            <a href="/logout">
                <button class="logout">logout</button>
            </a>
        </div>
    </div>
    <div class="summaryarea">
        <div class="score">
            <img src="images/logo1.jpg">
            <strong><p> <%= score %>/<%= questions.length %></p></strong>
        </div>
        <div class="summary">
            <div class="summary1">
                <% for (let i = 0; i < questions.length; i++) { %>
                    <%if (checking[i] == "correct"){%>
                        <p style="color:#92D686;"><strong>Question <%= i+1%>:</strong> <%= questions[i] %></p>
                        <p style="color:#92D686;"><strong>Answer <%= i+1%>: </strong><%= answers[i] %></p>
                    <%}else{%>
                        <p><strong>Question <%= i+1%>: </strong><%= questions[i] %></p>
                         <p><strong>Answer <%= i+1%>:</strong> <%= answers[i] %></p>
                   <% }%>  
                   <br>
                <% } %>
            </div>
            <div class="summary2">
                <a href="/score" ><button class="donebutton">done</button></a>
            </div>
        </div>
    </div>
</body>
</html>